<%= simple_form_for(@service) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :phase %>
    <%= f.input :reserved_at %>
    <%= f.input :confirmed_at %>
    <%= f.input :cancelled_at %>
    <%= f.input :scheduled_to %>
    <%= f.input :requested_to %>
    <%= f.input :started_at %>
    <%= f.input :ended_at %>
    <%= f.input :price %>
    <%= f.association :person %>
    <%= f.association :person %>
    <%= f.association :payment_type %>
    <%= f.association :vehicle %>
    <%= f.association :service_type %>
    <%= f.association :address %>
    <%= f.association :address %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
