<%= simple_form_for @service, :html => { :class => 'form-horizontal' } do |f| %>
  
  <div class="row">
      <div class="col-md-3">
          <%= f.input  :scheduled_to, as: :string, input_html: { class: "form-control datepicker", 'data-provide':'datepicker'} %>
          <%= error_span(@service[:scheduled_to]) %>
      </div>
      <div class="col-md-3">
          <%= f.input :requested_seats, class: "form-control" %>
          <%= error_span(@service[:requested_seats]) %>
      </div>
  </div>
  <div class="row">
    <div class="col-md-3">
        <%= f.association :vehicle_type, class: "form-control" %>
        <%= error_span(@service[:vehicle_type]) %>
    </div>
    <div class="col-md-3">
      <%= f.association :payment_type %>
      <%= error_span(@service[:payment_type]) %>
    </div>
  </div>
  <div class="row">
    <div class='hidden'>
     <input class="form-control" type="text" name="from_address_two_id" id="from_address_two_id">
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">From address</label>
        <input class="form-control" type="text" name="from_address_two" id="from_address_two">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">From district</label>
        <select class="form-control" id="from_district_two" name="from_district_two">
          <% @districts.each do |distric| %>
            <option value="<%=distric.id%>"><%= distric.name %></optio>
          <% end %>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">From reference</label>
        <input class="form-control" type="text" name="from_reference_two" id="from_reference_two">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>&nbsp;</label><br>
        <%= link_to 'Clear', '#',  {:remote => true, 'id' => 'from_address_clear', 'name'=>'from_address_clear', 'class' => 'btn btn-warning'}  %>
        <%= link_to 'Add favorite', list_favorite_path('from'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', 'class' => 'btn btn-info'}  %>
      </div>
  </div>
  <div class="row">
    <div class='hidden'>
      <input class="form-control" type="text" name="to_address_two_id" id="to_address_two_id">
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">To address</label>
        <input class="form-control" type="text" name="to_address_two" id="to_address_two">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">To district</label>
        <select class="form-control" id="to_district_two" name="to_district_two">
          <% @districts.each do |distric| %>
            <option value="<%=distric.id%>"><%= distric.name %></optio>
          <% end %>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">To reference</label>
        <input class="form-control" type="text" name="to_reference_two" id="to_reference_two">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>&nbsp;</label><br>
        <%= link_to 'Clear', '#',  {:remote => true, 'id' => 'to_address_clear', 'name'=>'from_address_clear', 'class' => 'btn btn-warning'}  %>
        <%= link_to 'Add favorite', list_favorite_path('to'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', 'class' => 'btn btn-info'}%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= f.input :price %>
      <%= error_span(@service[:price]) %>
    </div>
    <div >
        <label>&nbsp;</label><br>
     
          
      
    </div>                
  </div>
  
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                services_path, :class => 'btn btn-default' %>
  <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">My Favourites</h3>
    </div>
    <div class="modal-body" id="modal_content">
      **here comes whatever you want to show!**
    </div>
    <div class="modal-footer">
      <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save changes</button>-->
    </div>
  </div>
  <div id="data_price"></div>
  
  
  <script type="text/javascript">
    //$("#service_price").attr("readonly","readonly");
    
    $("#from_address_clear").click(function(){
      
      $("#from_address_two_id").val("").removeAttr("readonly");
      $("#from_address_two").val("").removeAttr("readonly");
      $("#from_district_two").val(1).removeAttr("readonly");
      $("#from_reference_two").val("").removeAttr("readonly");
      
    });
      
    $("#to_address_clear").on("click",function(){
      
      $("#to_address_two_id").val("").removeAttr("readonly");
      $("#to_address_two").val("").removeAttr("readonly");
      $("#to_district_two").val(1).removeAttr("readonly");
      $("#to_reference_two").val("").removeAttr("disabled");
      
    });
  </script>           
<% end %>






