<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Reference</th>
      <th>District</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.name %></td>
        <td><%= favorite.address.name %></td>
        <td><%= favorite.address.reference %></td>
        <td><%= favorite.address.district.name %></td>
        <td>
            <% address_string = favorite.address.id.to_s+'-'+favorite.address.name+'-'+favorite.address.district.id.to_s+'-'+favorite.address.reference %>
            <%= link_to 'Add', '#',  { class: 'add_favorite_to_service btn btn-info', 'data': address_string }  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
//$(document).ready(function(){
  
  var address_type = '<%= @address_type %>';
  
  $(".add_favorite_to_service").click(function(){
    
    var address_tring = $(this).attr('data').split('-');
    
    if(address_type == 'from'){
      $("#from_address_two_id").val(address_tring[0]).attr("readonly","readonly");
      $("#from_address_two").val(address_tring[1]).attr("readonly","readonly");
      $("#from_district_two").val(address_tring[2]).attr("readonly","readonly");
      $("#from_reference_two").val(address_tring[3]).attr("readonly","readonly");
    }else{
      $("#to_address_two_id").val(address_tring[0]).attr("readonly","readonly");
      $("#to_address_two").val(address_tring[1]).attr("readonly","readonly");
      $("#to_district_two").val(address_tring[2]).attr("readonly","readonly");
      $("#to_reference_two").val(address_tring[3]).attr("readonly","readonly");
    }
    
    $(".close").click();
    
  })
    
 
//});
  
</script>