<%- model_class = Service -%>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:vehicle_type_id) %></th>
      <th><%= model_class.human_attribute_name(:payment_type_id) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:scheduled_to) %></th>
      <th><%= model_class.human_attribute_name(:phase) %></th>
      <th><%=t '.actions', :default => t("helpers.Actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        
        <td><%= service.vehicle_type.name %></td>
        <td><%= service.payment_type.name %></td>
        <td><%= service.price %></td>
        <td><%= service.scheduled_to %></td>
        <td><%= service.phase %></td>
        <td>
          <% if current_user.role.id != 4 %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        service_path(service),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          <% else %>
            <% if service.phase == 'Evaluated' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        service_path(service),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_service_path,
            :class => 'btn btn-primary' %>
