<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>description</th>
      <th>seats_capacity</th>
      <th>plate</th>
      <th>year</th>
      <th>brand</th>
      <th>soat</th>
    </tr>
  </thead>
  <tbody>
   <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= link_to vehicle.id, vehicle_path(vehicle) %></td>
        <td><%= vehicle.name %></td>
        <td><%= vehicle.description %></td>
        <td><%= vehicle.seats_capacity %></td>
        <td><%= vehicle.plate %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.brand %></td>
        <td><%= vehicle.soat %></td>
           
        </td>
      </tr>
    <% end %>
  </tbody>
</table>