<%- model_class = Service -%>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:payment_type_id) %></th>
      <th><%= model_class.human_attribute_name(:to_address_id) %></th>
      <th><%= model_class.human_attribute_name(:from_address_id) %></th>
      <th><%= model_class.human_attribute_name(:service_type_id) %></th>
      <th><%= model_class.human_attribute_name(:phase) %></th>
      <th><%= model_class.human_attribute_name(:vehicle_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.id %></td>
        <td><%= service.payment_type_id %></td>
        <td><%= service.to_address_id %></td>
        <td><%= service.from_address_id %></td>
        <td><%= service.service_type_id %></td>
        <td>
          <% case service.phase%>
          <% when 'AP'  %>
             ACCEPT
          <% when 'TE'  %>
             TERMINATED
          <% when 'RE'  %>
             REJECTED
          <% when 'ST'  %>
             STARTED
          <% end %>
          
        </td>
        <td><%= service.vehicle_id %></td>
          <td>
     <%= link_to 'Select Vehicle', 
     list_vehicle_path(service.id),  
     {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-vehicle', 'class' => 'btn btn-info'}  %>
                     
      <%= link_to 'Select Driver', 
     list_driver_path,  
     {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-driver', 'class' => 'btn btn-info'}  %>
          </td>
      </tr>
    <% end %>
  </tbody>
 
 <div id="modal-vehicle" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Lista de Vehiculos</h3>
  </div>
  <div class="modal-body" id="modal_content">
    **here comes whatever you want to show!**
  </div>
  <div class="modal-footer">
    <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>-->
  </div>
</div>

 <div id="modal-driver" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Lista de Choferes</h3>
  </div>
  <div class="modal-body" id="modal_content_">
    **here comes whatever you want to show!**
  </div>
  <div class="modal-footer">
    <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>-->
  </div>
</div>



  
</table>

