



<button type="button" class="btn btn-primary">Aceptar</button>
<button type="button" class="btn btn-primary">Rechazar</button>
<button type="button" class="btn btn-primary">Empezar</button>
<button type="button" class="btn btn-primary">Terminar</button>


<%- model_class = Service -%>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:payment_type_id) %></th>
      <th><%= model_class.human_attribute_name(:to_address_id) %></th>
      <th><%= model_class.human_attribute_name(:from_address_id) %></th>
      <th><%= model_class.human_attribute_name(:service_type_id) %></th>
      <th>Seleccionar</th>
     
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.id %></td>
        <td><%= service.payment_type_id %></td>
        <td><%= service.to_address_id %></td>
        <td><%= service.from_address_id %></td>
        <td><%= service.service_type_id %></td>
      
       
      
     
        <td><input name="cboption[]" type="checkbox" /></td>
        
          <script type="text/javascript">
            total = $("input[@name='cboption[]']:checked").length;
         </script>
          
      </tr>
    <% end %>
  </tbody>
</table>

