<%- model_class = Service -%>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:payment_type_id) %></th>
      <th><%= model_class.human_attribute_name(:to_address_id) %></th>
      <th><%= model_class.human_attribute_name(:from_address_id) %></th>
      <th><%= model_class.human_attribute_name(:service_type_id) %></th>
      <th><%= model_class.human_attribute_name(:phase) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.id %></td>
        <td><%= service.payment_type_id %></td>
        <td><%= service.to_address_id %></td>
        <td><%= service.from_address_id %></td>
        <td><%= service.service_type_id %></td>
        <td>
          <% case service.phase%>
          <% when 'AP'  %>
             ACCEPT
          <% when 'TE'  %>
             TERMINATED
          <% when 'RE'  %>
             REJECTED
          <% when 'ST'  %>
             STARTED
          <% end %>
        </td>
          <td>
        <%= link_to t('.accept', :default => t("helpers.links.Aceptar")),
                      accept_service_path(:param => service.id), :class => 'btn btn-primary' %> 
        <%= link_to t('.reject', :default => t("helpers.links.Rechazar")),
                      reject_service_path(:param => service.id), :class => 'btn btn-primary' %>              
        <%= link_to t('.start', :default => t("helpers.links.Empezar")),
                      start_service_path(:param => service.id), :class => 'btn btn-primary' %>
        <%= link_to t('.terminate', :default => t("helpers.links.Terminar")),
                      terminate_service_path(:param => service.id), :class => 'btn btn-primary' %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

