<%- model_class = Service -%>


<table class="table table-striped table-bordered">
  <tr>
    <th>
      <span class="information" >A = Accepted</span>
    </th>
    <th>
      <span class="information" >R = Rejected</span>
    </th>
    <th>
      <span class="information" >S = Started</span>
    </th>
    <th>
      <span class="information" >T = Terminated</span>
    </th>
   
  </tr>
</table>  

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:payment_type_id) %></th>
      <th><%= model_class.human_attribute_name(:to_address_id) %></th>
      <th><%= model_class.human_attribute_name(:from_address_id) %></th>
      <th><%= model_class.human_attribute_name(:phase) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.id %></td>
        <td><%= service.payment_type.name%></td>
        <td><%= service.to_address.name %></td>
        <td><%= service.from_address.name %></td>
        <td><%= service.phase%></td>
          <td>
            <% if service.phase=="Accepted" %>
            <% else%>
             <%= link_to t('.accept', :default => t("helpers.links.A")),
                      accept_service_path(:param => service.id), :class => 'btn btn-primary' %> 
            <%end %>
            
             <% if service.phase=="Started" %>
            <% else%>
               <%= link_to t('.start', :default => t("helpers.links.S")),
                      start_service_path(:param => service.id), :class => 'btn btn-success' %>
            <%end %>
            
             <% if service.phase=="Terminated" %>
            <% else%>
                <%= link_to t('.terminate', :default => t("helpers.links.T")),
                      terminate_service_path(:param => service.id), :class => 'btn btn-success' %>
            <%end %>
            
            
            <% if service.phase=="Rejected" %>
            <% else%>
               <%= link_to t('.reject', :default => t("helpers.links.R")),
                      reject_service_path(:param => service.id), :class => 'btn btn-danger' %>
            <%end %>
            
           
            
             
        
        
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

