<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @address.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @address.reference %>
</p>

<p>
  <strong>District:</strong>
  <%= @address.district %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
