<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rate.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @rate.price %>
</p>

<p>
  <strong>District:</strong>
  <%= @rate.district %>
</p>

<p>
  <strong>District:</strong>
  <%= @rate.district %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
